/* Alberto Vázquez Monge (Desafios 1 - 4) */

/* Reto 1 */
h1, h2 {
    font-family: sans-serif;
    color: darkblue;
}

p {
    line-height: 1.6;
    color: #333;
}

/* Reto 2 */
.noticia {
    background-color: #f3f3f3;
    margin-bottom: 10px;
    padding: 10px;
}

.destacada {
    border: 2px solid red;
    background-color: #F3F2DA;
}

/* Reto 3 */
#principal {
    background-color: #0044cc;
}
/* He tenido que incluirlo específicamente ya que los seleccionadores del reto 1 se interponían */
#principal h1, #principal p {
    color: white;
    text-align: center;
}

/* Reto 4 */
nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: red;
}